@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 5px;
  margin: 5px;
  font-family: Times, "Times New Roman", Georgia, serif;
}

article, header {
  padding: 5px;
  box-shadow: 0 0 1em grey;
}

nav {
  padding: 5px;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.header {
  grid-column: span 2;
  /*
  Titre du menu
   */
  /*
  Image des réseaux sociaux dans le header
   */
  /*
  Paragraphe du header
   */
}
.header-titre {
  display: flex;
  flex-direction: row;
  padding: 5px;
  /*
  Logo dans le titre du menu
   */
  /*
  Texte du titre du menu
   */
}
.header-titre__logo {
  height: 6vh;
  padding-right: 10px;
}
.header-titre__text {
  line-height: 6vh;
}
.header-sociaux {
  text-align: right;
}
.header-sociaux__logo {
  height: 5vh;
}
.header-text {
  color: grey;
  padding: 5px;
  margin-bottom: 10px;
}

.navigation {
  grid-column: span 2;
  margin: 10px;
  /*
  Titre du menu
   */
  /*
  Liste du menu
   */
}
.navigation-titre {
  font-weight: bold;
  color: orange;
}
.navigation-list {
  /*
  Element de la liste
   */
  /*
  Sous liste du menu
   */
}
.navigation-list > li {
  margin: 5px;
  color: orange;
  /*
  Icon de la liste
   */
}
.navigation-list > li > i {
  padding-left: 8px;
  padding-right: 5px;
}
.navigation-list__souslist > li {
  margin-left: 33px;
  padding: 5px;
}

.article {
  grid-column: span 2;
  grid-row: span 1;
  margin-bottom: 10px;
}
.article__taille1 {
  grid-column: span 1;
}
.article-etiquette {
  z-index: 10;
  position: relative;
  top: 5px;
  left: 5px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  text-shadow: 0 0 3px #000000;
  font-size: 2vh;
}
.article-image {
  width: 100%;
  position: relative;
  top: -2vh;
}
.article-titre {
  font-size: 4vw;
  color: darkorange;
  font-weight: bold;
}
.article-separation {
  margin-right: 80%;
  height: 5px;
  background-color: black;
}
.article-icon {
  display: flex;
  flex-direction: column;
  font-style: italic;
}
.article-icon > label:first-child {
  text-decoration: underline;
}
.article-texte {
  padding: 10px;
}

.footer {
  padding: 20px;
}
.footer-btn {
  float: right;
  border-radius: 10px;
  background-color: white;
}

/*# sourceMappingURL=main.css.map */
