.article {

  grid-column: span 2;
  grid-row: span 1;
  margin-bottom: 10px;

  &__taille1{
    grid-column: span 1;
  }

  &-etiquette {
    z-index: 10;
    position:relative;
    top: 5px;
    left: 5px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow:0 0 3px #000000;
    font-size: 1.5vh;
  }

  &-image {
    width: 100%;
    position: relative;
    top: -1.5vh;
  }

  &-titre {
    font-size: 1.5em;
    color:darkorange;
    font-weight: bold;
    @media screen and (min-width: 850px){
      font-size: 2em;
    }
  }

  &-separation {
    margin-right: 80%;
    height: 5px;
    background-color: black;
  }

  &-icon {
    display:flex;
    flex-direction: column;
    font-style: italic;

    & > label:first-child{
      text-decoration: underline;
    }

  }

  &-texte {
    padding: 10px;
  }
}
