.header {

  grid-column: span 2;

  /*
  Titre du menu
   */
  &-titre{
    display:flex;
    flex-direction: row;
    padding: 5px;

    /*
    Logo dans le titre du menu
     */
    &__logo{
      height: 6vh;
      padding-right: 10px;
    }

    /*
    Texte du titre du menu
     */
    &__text{
      line-height: 6vh;
    }
  }

  /*
  Image des réseaux sociaux dans le header
   */
  &-sociaux{
    text-align: right;
    &__logo{
      height: 5vh;
    }
  }

  /*
  Paragraphe du header
   */
  &-text{
    color:grey;
    padding: 5px;
    margin-bottom: 10px;
  }
}

/*
Taille s
 */
@media screen  and (min-width: 360px){
  .header{
    grid-column: span 3;
  }
}

/*
Taille m
 */
@media screen and (min-width: 600px) {
  .header {
    grid-column: span 4;
  }
}
/*
  Taille l
*/
@media screen  and (min-width: 850px){
  .header{
    grid-column: span 5;
  }
}