body {
  padding: 5px;
  margin: 5px;
  font-family: Times, "Times New Roman", Georgia, serif;
}

article, header {
  padding: 5px;
  box-shadow: 0 0 1em grey;
}

nav {
  padding: 5px;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1.0em;
}

.container {
  display:grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2,1fr);
}