.navigation{

  grid-column: span 2;
  margin: 10px;

  /*
  Titre du menu
   */
  &-titre{
    font-weight: bold;
    color: orange;
  }

  /*
  Liste du menu
   */
  &-list{

    /*
    Element de la liste
     */
    & > li{

      margin: 5px;
      color: orange;

      /*
      Icon de la liste
       */
      & > i {
        padding-left: 8px;
        padding-right:5px;
      }

    }

    /*
    Sous liste du menu
     */
    &__souslist > li{
      margin-left: 33px;
      padding: 5px;
    }

  }
}
/*
  Taille S/M/L
*/
@media screen  and (min-width: 450px){
  .navigation{
    grid-column: span 1;
  }
}